<header class="p-2 header">
    <div class="container d-flex flex-wrap justify-content-between">
        <div class="d-flex align-items-center">
            <a class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none" routerLink="/">
                <img src="assets/img/logo.png" class="logo" alt="">
            </a>
        </div>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex justify-content-center align-items-center search"
            role="search">
            <div class="container input-bg d-flex justify-content-center align-items-center">
                <input type="search" class="search-input" placeholder="What is in your Mind?" aria-label="Search">
                <i class="bx bx-search-alt fs-4 " style="color: #8B5A2B;" role="button"></i>
            </div>
        </form>

        <div class="d-flex justify-content-center align-items-center ms-auto">
            <i class="bx bx-cart mx-4 fs-3" role="button" routerLink="/cart"></i>
            <div *ngIf="isLoggedIn; else loggedOut">
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="assets/img/avatar.png" alt="mdo" width="32" height="32" class="rounded-circle border-2">
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                      <li><a class="dropdown-item" href="#" routerLink="/add-product">List Products</a></li>
                      <li><a class="dropdown-item" href="#" routerLink="/profile">Profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" (click)="onLogOut()">Sign out</a></li>
                    </ul>
                  </div>
                
            </div>
            <ng-template #loggedOut>
                <button type="button" class="btn btn-outline-light me-4 btnLogin" routerLink="/login">Login</button>
                <button type="button" class="btn btn-warning btnSignUp" routerLink="/register">Sign-up</button>
            </ng-template>
        </div>
    </div>
</header>

<nav class="border-bottom category-nav">
    <div class="container">
        <ul class="nav d-flex flex-wrap justify-content-between align-items-center">
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2" aria-current="page">Vegetables</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Fruits</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Spices</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 btn-nav fw-semibold">Browse All</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Grains</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Organics</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Other</a></li>
        </ul>
    </div>
</nav>