.tab-content {
  height: 66vh;
  background-color: #d0ffd2;
  border-radius: 15px;
  padding: 20px;
  overflow: scroll;
}

.nav-item .active {
  background-color: #b56c28 !important;
}

.image-box {
  height: 10vh;
  width: 10vh;
  border: 2px solid #51e860;
  background-color: #fff;
  overflow: hidden;
}

.image-box img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.avatar {
  font-size: 24px;
  margin-top: 7px;
  color: #604be8;
}

.bxs-message-square-edit {
  color: rgb(0, 190, 0);
}

.bxs-trash {
  color: #e74c3c;
}

.row-item{
    height: 12vh;
    width: 80vw;
    background-color: #fffffffb;
    border-radius: 15px;
}

.form {
    padding: 20px;
    width: 60vw;
    backdrop-filter: blur(43px);
    -webkit-backdrop-filter: blur(43px) saturate(180%);
    background-color: #40f95b46;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin-top: -5%;
}

input:hover {
    box-shadow: 0 0 15px rgba(139, 111, 0, 0.3);
}

.modal-content{
    background-color: transparent !important;
    justify-content: center !important;
    align-items: center !important;
    vertical-align: middle !important;
    top: 15vh;
}