h3{
    font-family: Roboto;
}

.c1{
    height: 84vh;
    background-color: #E0E0E0;
}

.bg-1{
    overflow: hidden;
    width: 80%;
    position: relative;
    left: -9%;
    top: -20%;
    rotate: 12deg;
    opacity: 80%;
}

.carousel-caption{
    bottom: 14%;
}

.carousel-caption h1{
    font-family: Lora;
    color: #3E2723;
    font-weight: 600;
    line-height: 90px;
    font-size: 66px;
}

.carousel-caption p{
    font-family: Lora;
    color: #3E2723;
    font-weight: 600;
    line-height: auto;
    font-size: 17px;
    opacity: 80%;
}

.bg-2{
    overflow: hidden;
    width: 70%;
    position: relative;
    left: -3%;
    opacity: 70%;
}

.bg-3{
    overflow: hidden;
    width: 20%;
    position: absolute;
    top: -5%;
    right: -7%;
    opacity: 80%;
    rotate: 200deg;
}

.bg-4{
    overflow: hidden;
    width: 15%;
    position: absolute;
    top: -7%;
    left: -4%;
    opacity: 80%;
    rotate: 20deg;
}

.title button{
    background-color: #8B5A2B;
    border: transparent;
}

.card{
    background-color: #EDFFEE;
    transition-duration: 0.9s;
}

.card:hover{
    transition-duration: 0.9s;
    scale: 1.05;
}

.list-group{
    list-style: none;
}

.item-card{
    display: grid;
    grid-template-columns: repeat(5,1fr) !important;
}

.title button{
    background-color: #8B5A2B;
    color: #fff;
    font-weight: 600;
    font-family: Roboto;
    border-color: transparent;
    box-shadow: #6f4822 2px 2px 2px;
}


/* contact us styles */

.mr{
    margin-top: 10px !important;
}

.name{
    margin-top: 35px !important;
}

.form-bg{
    border-radius: 15px !important;
    background-color: #dafedc;
    backdrop-filter: blur(15px) !important;
}

.bg-light{
    background-color: #E0E0E0 !important;
}