<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-pause="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
            class="active"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="bd-placeholder-img w-100 c1">
                <img src="assets/img/Salad.png" alt="" class=" bg-1">
            </div>
            <div class="container caption">
                <div class="carousel-caption text-end">
                    <h1 class="mb-4">Farm-Fresh Bounty,<br> Delivered Wholesale</h1>
                    <p class="">Fill your shelves with the best <br> from local farms. Enjoy unbeatable <br>
                        freshness and prices, straight<br> from the source.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="bd-placeholder-img w-100 c1">
                <img src="assets/img/Fruits.png" alt="" class=" bg-2">
                <img src="assets/img/Strawberry.png" alt="" class=" bg-3">
                <img src="assets/img/baerry.png" alt="" class=" bg-4">
            </div>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Nurturing Farms,<br> Nourishing Communities</h1>
                    <p>Bring the farm to your doorstep<br> with bulk discounts on the freshest<br> local produce.
                        Together, we can<br> create a thriving local<br> food network.</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section class="products">
    <div class="container mb-4">
        <div class="title d-flex justify-content-center align-items-center">
            <h3 class="text-center m-4 mx-auto">Product For Sale</h3>
            <button class="btn btn-primary align-content-end">View All</button>
        </div>
        <div class="item-card" >
            <div class="card text-center border-success mb-3" style="max-width: 13rem;" role="button" *ngFor="let product of productDetails | slice:0:10" (click)="setClickedProduct(product)" routerLink="/view-product">
                <div class="card-header bg-transparent border-success text-success font-weight-bold">{{product['productName']}}</div>
                <div class="card-body">
                    <img src="data:image/jpeg;base64,{{product['imgData']}}" class="card-img-top mb-3" alt="Product Image"
                        style="width: 100px; height: 100px; object-fit: contain;  border-radius: 8px;">
                    <div class="product-details">
                        <div class="d-flex align-items-center justify-content-start mb-2">
                            <i class="fas fa-weight text-success me-2"></i>
                            <span>{{product['qty']}} Kg Stock</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-start mb-2">
                            <i class="fas fa-tag text-success me-2"></i>
                            <span>Rs.{{product['price']}} / per kg</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <i class="fas fa-calendar-alt text-success me-2"></i>
                            <span>{{product['date']}}</span>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>

<!-- Contact 4 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h3 class="text-capitalize text-center mb-4">Get in Touch</h3>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-xl-center">
        <div class="col-12 col-lg-6">
          <img class="img-fluid rounded" loading="lazy" src="assets/img/Strawberry.png" alt="Get in Touch">
        </div>
        <div class="col-12 col-lg-6">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <div class="form-bg border rounded shadow-sm overflow-hidden">
  
                <form action="#!">
                  <div class="row gy-4 gy-xl-5 p-4 p-xl-5 form-">
                    <div class="col-12 mr name">
                      <label for="fullname" class="form-label">Full Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="fullname" name="fullname" value="" required>
                    </div>
                    <div class="col-12 mr  col-md-6">
                      <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                      <div class="input-group">
                        <span class="input-group-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                          </svg>
                        </span>
                        <input type="email" class="form-control" id="email" name="email" value="" required>
                      </div>
                    </div>
                    <div class="col-12 mr  col-md-6">
                      <label for="phone" class="form-label">Phone Number</label>
                      <div class="input-group">
                        <span class="input-group-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                          </svg>
                        </span>
                        <input type="tel" class="form-control" id="phone" name="phone" value="">
                      </div>
                    </div>
                    <div class="col-12 mr ">
                      <label for="subject" class="form-label">Subject <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="subject" name="subject" value="" required>
                    </div>
                    <div class="col-12 mr mb-4">
                      <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                      <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                    </div>
                    <div class="col-12 mr">
                      <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Send Message</button>
                      </div>
                    </div>
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>